@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  outline: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /* position: absolute; */
  /* background-color: #f1f1f1; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

/* Show the dropdown menu on hover */
.dropdown-button:hover > .dropdown-content {display: flex;}

.react-multiple-carousel__arrow--left{
  left: 0;
  background-color: rgba(55, 72, 88, 0.904);
}

.react-multiple-carousel__arrow--right{
  right: 0;
  background-color: rgba(55, 72, 88, 0.904);
}